.container {
    width: 100%;
    margin: 20rem 0;
    padding: 0;
}


.click:hover {
    cursor: pointer;
    transition:  ease-in-out;
}

.click:active {
    opacity: .8;
    transform: scale(.99);
}


.section {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.subcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
}